@model AppleMVC.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    h2 {
        background: lightgreen;
        font-size: 50px;
        text-align: center;
        justify-items: center;
    }

    div {
        padding: 5px;
    }
</style>

<h2>QUẢN LÝ LOẠI HÀNG HÓA</h2>

<h3>Bạn Muốn Xoá Loại Hàng Này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="padding: 5px;">
            Tên Loại Hàng
        </dt>
        <dd style="margin-left: 5%;">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-danger" />
            @Html.ActionLink("Danh sách", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
</div>

