<h2>Giỏ hàng</h2>
<h3>Số lượng hàng: @Html.Action("BagCart", "ShoppingCart")</h3>
<table class="table">
    <thead>
        <tr>
            <th>Tên MH</th>
            <th>Ảnh</th>
            <th>SL</th>
            <th>ĐG</th>
            <th>TT</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6">
                Empty Cart...
            </td>
        </tr>
    </tbody>
</table>

