@model AppleMVC.Models.Screen

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    h2 {
        background: lightgreen;
        font-size: 50px;
        text-align: center;
        justify-items: center;
    }

    div {
        padding: 5px;
    }
</style>

<h2>QUẢN LÝ MÀN HÌNH</h2>
<h3>Bạn Có Chắc Xoá Loại Màn Hình Này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Loại Màn Hình
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScreenName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-primary" />
            @Html.ActionLink("Danh sách", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
